#cities-container a {
    color: #3F3D40; /*color of your choosing*/
    text-decoration: none;
    font-weight: normal;
}

#cities-container {
    margin-top: 100px;
}

.hvr-underline-from-center:before {
    background: #3F3D40;
    border-radius: 3px;
    height: 2px;
}

.splash {
    background-image: url("/static/images/aus_background.png");
    z-index: 1;
    background-size: cover;
    background-position: center center;
    position: absolute;
    top: 50px;
    right: 0; bottom: 0; left: 0;
}

