{% extends 'navigation/nav.html' %}

{% block title %}Login{% endblock %}

{% block content %}

    <div class="row login-container">
        <div class="col-3"></div>

        <div class="col-6">
            <center>

                <div class="login-form">

                    <h1>Login</h1>
                    <form method="POST">
                        {% csrf_token %}

                        {% for field in form %}
                        <p>
                            <input class="form-control" id="{{ field.id_for_label }}" maxlength="30" name="{{ field.html_name }}" placeholder="{{ field.html_name }}" type="text" />
                        </p>
                        {% endfor %}
                        <button class="btn btn-primary" type="submit">Login</button>
                    </form>

                </div>

            </center>

        </div>

        <div class="col-3"></div>
    </div>

    <style>
        .login-container {
            margin-top: 50px;
        }

        .login-form {
            border: 1px solid lightgrey;
            border-radius: 3px;
            box-shadow: 2px 2px 3px lightgrey;
            padding: 10px;
        }
    </style>

{% endblock %}
