{% extends 'navigation/nav.html' %}

{% block content %}
{% load static %}

<html lang="en">

<head>
    <link rel="stylesheet" href="{% static 'cities.css' %}" type="text/css">
</head>

<div class="splash">
    <div class="container">
        <div class="row">
            <div id="cities-container">

            </div>
        </div>
    </div>

    <!-- Hidden cities div -->
    <div class="city-container" style="opacity: 0">
        <div class="city">
            <h2 class="city-name"></h2>
            <p class="city-description"></p>
        </div>
    </div>
</div>

<script>
    window.cities = {{ cities | safe }};

    for (let i = 0; i < cities.length; i++) {
        let cityContainer = document.getElementsByClassName('city-container')[0].cloneNode(true);
        cityContainer.style.opacity = 1;

        let city = cities[i].fields;
        let name = city.name;
        let description = city.description;

        cityContainer.getElementsByClassName('city-name')[0].innerHTML = '<a href="' + name + '" class="hvr-underline-from-center">' + name + '</a>';
        cityContainer.getElementsByClassName('city-description')[0].innerHTML = description;

        document.getElementById('cities-container').innerHTML += cityContainer.innerHTML;
    }
</script>

</html>

{% endblock %}
