{% extends 'navigation/nav.html' %}

{% block content %}
{% load static %}

<html lang="en">

<head>

</head>

<div class="splash">
    <div class="container">
        <div class="location-container">
            <div class="location">
                <h1 class="location-name"></h1>
                <span class="location-type">Type: </span>

                <h4>City:</h4>
                <p class="location-city"></p>

                <h4>Description:</h4>
                <p class="location-description"></p>

                <h4>Address:</h4>
                <p class="location-address"></p>

                <h4>Email Address:</h4>
                <p class="location-emailAddress"></p>

                <h4>Phone:</h4>
                <p class="location-phone"></p>


                <h4 class="LDtitle" >Departments:</h4>
                <p class="location-Departments"></p>

            </div>
        </div>

        <div id="map">

        </div>
    </div>

    <!-- Hidden cities div -->
    <div class="city-container" style="opacity: 0">
        <div class="city">
            <h2 class="city-name"></h2>
            <p class="city-description"></p>
        </div>
    </div>
</div>

<style>
    #map {
        height: 500px;
        width: 650px;
    }

    .location-Departments {
        opacity: 0;
    }

    .LDtitle {
        opacity: 0;
    }    

    .splash {
        z-index: 1;
        background: url("/static/images/brisbane.jpg");
        background-size: cover;
        top: 50px;
        right: 0; bottom: 0; left: 0;
    }

    .location {
        color: white;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }

</style>

<script>
    window.city = {{ city | safe }};
    window.locations = {{ location | safe }};

    function returnType(code) {
        let type = {
            "CL": "Colleges",
            "LI": "Libraries",
            "IN": "Industries",
            "HO": "Hotels",
            "ZO": "Zoos",
            "MU": "Museums",
            "RE": "Restaurants",
            "MA": "Malls",
            "PA": "Parks"
        };

        return type[code];
    }

    let cityName = city[0].fields.name;
    locations = locations[0].fields;
    let locationName = locations.name;
    let description = locations.description;
    let address = locations.address;
    let emailAddress = locations.emailAddress;
    let phone = locations.phone;
    let departments = locations.departments;
    let type = returnType(locations.type);

    document.getElementsByClassName('location-name')[0].innerHTML = locationName;
    document.getElementsByClassName('location-city')[0].innerHTML = '<a href="../../">' + cityName + '</a>';
    document.getElementsByClassName('location-description')[0].innerHTML = description;
    document.getElementsByClassName('location-address')[0].innerHTML = address;
    document.getElementsByClassName('location-emailAddress')[0].innerHTML = emailAddress;
    document.getElementsByClassName('location-phone')[0].innerHTML = phone;
    document.getElementsByClassName('location-type')[0].innerHTML += '<a href="../">' + type + '</a>';

    if (departments != null ) {
        let departmentsArray = departments.split(",");
        let departmentsString = "";
        for (let i = 0; i < departmentsArray.length; i++) {
            departmentsString += departmentsArray[i] + "<br>";
        }

        document.getElementsByClassName('location-Departments')[0].innerHTML = departmentsString;
        document.getElementsByClassName('location-Departments')[0].style.opacity = 1;
        document.getElementsByClassName('LDtitle')[0].style.opacity = 1;
    } ;  



    // Google Maps API
    let map;
    let marker;

    function initMap() {
        let geocoder = new google.maps.Geocoder();
        geocoder.geocode({
            'address': locationName
        }, function(results, status) {
            if (status == google.maps.GeocoderStatus.OK) {
                let Lat = results[0].geometry.location.lat();
                let Lng = results[0].geometry.location.lng();
                let pos = new google.maps.LatLng(Lat, Lng);

                let mapOptions = {
                    zoom: 14,
                    center: pos
                }

                let markerOptions = {
                    position: pos,
                    map: map,
                    title: locationName
                }

                map = new google.maps.Map(document.getElementById('map'), mapOptions);
                marker = new google.maps.Marker(markerOptions);
                marker.setMap(map);
            }
        });
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDs_zto9p7ZEgsWV9UNm4NgTq35GdV7STA&callback=initMap" async defer></script>
</html>

{% endblock %}
