<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html><head>


  
  <meta content="text/html; charset=ISO-8859-1" http-equiv="content-type">

  
  <meta content="text/html; charset=ISO-8859-1" http-equiv="content-type">

  
  <meta content="text/html; charset=ISO-8859-1" http-equiv="content-type"><title>Map</title>
  

  
  <style>
body {
background-color: #ABF0F7;
}
  </style></head>
<body>
<button> </button>
<table style="text-align: left; width: 1488px; height: 141px;" border="0" cellpadding="2" cellspacing="2">

  <tbody>
    <tr style="width: 1288px; height: 152px;" width="961">
      <td style="vertical-align: top; width: 300px; height: 137px;"><img src="SmartCityLogo.png" alt="Smart City Logo" style="width: 300px; height: 138px;"> <br>
      </td>
      <td style="vertical-align: top; height: 137px;"><br>
      <div style="text-align: center;">Welcome Sam. You're signed in as
a student.<br>
      </div>
      <br>
      <br>
      <div style="text-align: center;"><button type="button" class="btn btn-dark btn-lg">Home</button><br5> <button type="button" onclick="location.href = 'hotel';" class="btn btn-dark btn-lg">Libraries</button><br5>
      <button type="button" onclick="location.href = 'hotel';" class="btn btn-dark btn-lg">City Information</button><br5> <button type="button" onclick="location.href = 'login';" class="btn btn-dark btn-lg">Settings</button><br5> <button type="button" onclick="location.href = 'admin';" class="btn btn-outline-danger btn-lg">Logout</button><br5> </br5></br5></br5></br5></br5></div>
      </td>
    </tr>
  </tbody>
</table>

<br>

<table style="text-align: left; width: 100%;" border="0" cellpadding="2" cellspacing="2">

  <tbody>
    <tr>
      <td style="vertical-align: top; width: 913px;">Bobby Harrison<span style="font-size: 12pt; line-height: 107%; font-family: &quot;Times New Roman&quot;,serif;"><span style="">&nbsp;</span></span><br><br>User type: Student<br><br>E-mail: <span style="font-size: 12pt; line-height: 107%; font-family: &quot;Times New Roman&quot;,serif;"><span style=""></span></span><span style="font-size: 12pt; line-height: 107%; font-family: &quot;Times New Roman&quot;,serif;"><span style=""></span></span>bobby.harrison@gmail.com<br><br>Date of Birth: 10 September 1994<br><br>State (Last Updated): Brisbane<br><br>My bio:<br>I'm a student from QUT Internation College, on my first semester. I enjoy exploring every so often, regardless of location.<br><br>
      </td>
      <td style="vertical-align: top; width: 246px; text-align: center;"><img style="width: 208px; height: 267px;" alt="" src="../character/funny-die-man-walking-hed-2014.jpg"></td>
    </tr>
  </tbody>
</table>

<br>Places I liked:<br><table style="text-align: left; width: 1154px;" border="0" cellpadding="2" cellspacing="2"><tbody><tr><td style="width: 369px; text-align: center;"><img style="width: 375px; height: 200px;" alt="" src="DSC03402-1024x768.jpg"><br>Queensland Univiersity of Technology</td><td style="width: 372px; text-align: center;"><img style="width: 375px; height: 200px;" alt="" src="UQ_1_Wide.jpg"><br>University of Queensland</td><td style="width: 378px; text-align: center;"><img style="width: 375px; height: 200px;" alt="" src="../character/State_Library_of_Queensland_2008.jpg"><br>State Library of Queensland</td></tr></tbody></table><br>

</body></html>