{% extends 'navigation/nav.html' %}

{% block content %}
{% load static %}

<html lang="en">

<head>
    <link rel="stylesheet" href="{% static 'style.css' %}" type="text/css">
</head>

<center>
  <br><br>
  <h1>SmartCity</h1><br>
  <button type="button" onclick="location.href = 'hotel';" class="btn btn-dark btn-lg" >Hotels</button><br5><button type="button" onclick="location.href = 'login';" class="btn btn-dark btn-lg" >Login</button><br5>
  <button type="button" onclick="location.href = 'admin';" class="btn btn-outline-danger btn-lg">Admin</button><br5>
</center>

</html>

{% endblock %}
