<!DOCTYPE HTML>
<html lang="en"><head>







<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
<link rel="stylesheet" href="%7B%%20static%20%27style.css%27%20%%7D" type="text/css">
<link rel="stylesheet" href="index.css" type="text/css"><style>
body {
    background-color: #ABF0F7;
}
</style></head><body>{% load static %} <!--Comment this later-->













<img src="BrisbanePicture.jpg" height="500" width="100%">

	<br>
	<br>
	<br>

	<div id="contentBox" style="margin: 0px auto; width: 95%;">
		<div id="column1" style="margin: 0pt; float: left; width: 25%;">
<img src="SmartCityLogo.png" alt="Smart City Logo" style="width: 300px; height: 141px;">
</div>

		<div id="column1" style="margin: 0pt; float: left; width: 45%;">
<div style="text-align: center;">
			</div>
<h1 style="text-align: center;"><font color="black" face="Courier">Unfamiliar with Brisbane?</font></h1>
<div style="text-align: center;"><br>

			</div>
<h1 style="text-align: center;"><font color="black" face="Courier">We're here to help!</font></h1><br>
		</div>
      
		<div id="column2" style="margin: 0pt; float: right; width: 30%;">
			<h5>&nbsp;&nbsp;&nbsp; Returning user please login:</h5>
			<h7>&nbsp;&nbsp;&nbsp; Username:&nbsp;&nbsp; &nbsp; </h7><input name="firstname" style="width: 275px;" type="text">
			<br>
			<br>
			<h7>&nbsp;&nbsp;&nbsp; Password:&nbsp;&nbsp;&nbsp; &nbsp; </h7><input name="lastname" style="width: 275px;" type="password">
			<br>
<br>

			
<div style="text-align: center;"><button type="button" onclick="location.href = 'login';" style="width: 100px;">Login</button> <button type="button" onclick="location.href = 'login';" style="width: 100px;">Register</button><br>
</div>

<h8>
<br>
<br>
</h8>
		</div>

		</div>
		
		
		<button type="button" class="btn btn-dark btn-lg">New Account</button><br5>
      <button type="button" onclick="location.href = 'hotel';" class="btn btn-dark btn-lg">Hotels</button><br5>
       <button type="button" onclick="location.href = 'login';" class="btn btn-dark btn-lg">Login</button><br5>
      <button type="button" onclick="location.href = 'admin';" class="btn btn-outline-danger btn-lg">Admin</button><br5>
  
  

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
  
  
  </br5></br5></br5></br5>
  </body></html>